doctype html
head
  link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Cousine',rel='stylesheet',type='text/css')
  link(href='style.css',rel='stylesheet',type='text/css')
body
  header
    .container
      h1= title
  article
    .content
      .container!= contents
    each section in sections
      div(class="section_#{section.sort} section")
        .container
          //-a(href="##{section.title}") #
          h2(id="section_#{section.sort}")= section.title
      div.content
        .container!= section.contents
  footer
    ul
    each footer in footers
      li
        a(href= footer.path)= footer.title
